<nav class="menu" id="navbarContainer">
  <a [routerLink]="['/']" class="logo">
    <svg
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 30 30"
      width="2500"
      height="2500"
    >
      <style>
        .st1 {
          fill: #fff;
        }
      </style>
      <title>Logo</title>
      <g id="Symbols">
        <g id="Logo">
          <circle
            id="Combined-Shape"
            fill="currentColor"
            cx="15"
            cy="15"
            r="15"
          />
          <path
            id="Path-11"
            class="st1"
            d="M9 8h10.4l3.5 3.5-3.4 3.4 3.5 3.6-3.5 3.5H9z"
          />
        </g>
      </g>
    </svg>
    <p>Bass Blog</p>
  </a>

  <ul class="navbar" id="menuContainer">
    <li class="active">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/posts']">Posts</a>
    </li>
    <li *ngIf="user">
      <a [routerLink]="['/user/posts']">My Posts</a>
    </li>
    <li *ngIf="!user">
      <a [routerLink]="['/categories']">Categories</a>
    </li>
    <li *ngIf="!user">
      <a [routerLink]="['/contact']">Contact</a>
    </li>
    <li class="login" *ngIf="!user">
      <a [routerLink]="['/login']">Login</a>
    </li>
    <li class="sign-up" *ngIf="!user">
      <a [routerLink]="['/sign-up']">Sign Up</a>
    </li>
    <li class="user-info" *ngIf="user">
      <p>{{ user.displayName }}</p>
      <img
        [src]="
          user.photoURL
            ? user.photoURL
            : 'https://support.grasshopper.com/assets/images/care/topnav/default-user-avatar.jpg'
        "
        class="photo"
      />
    </li>
    <li class="logout" *ngIf="user">
      <button type="button" (click)="logout()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-log-out"
        >
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
          <polyline points="16 17 21 12 16 7"></polyline>
          <line x1="21" y1="12" x2="9" y2="12"></line>
        </svg>
      </button>
    </li>
  </ul>
</nav>
