@import "../../../styles/variables.scss";

.header {
  width: 100%;
  height: 100vh;
  background: $gradientPrimary;

  &.is-small {
    height: auto;
  }

  /*
  Este div es para separar el welcome-message del navbar
*/
  .navbar-divider {
    background: transparent;
    height: 84px;
  }

  .welcome {
    height: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2.44em;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      text-align: center;

      &.margin-botton {
        margin-bottom: 45px;
      }

      span {
        color: $dark;
      }
    }

    p {
      text-align: center;
      width: 458px;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 45px;
    }

    .input-box {
      width: 458px;
      margin-bottom: 45px;
    }
  }
}
