<section
  class="header"
  id="headerContainer"
  [ngClass]="{ 'is-small': isSmall }"
>
  <!-- Este div es para separar el welcome-message del navbar -->
  <div class="navbar-divider"></div>

  <!-- Welcome message -->
  <div class="welcome">
    <h1
      *ngIf="title !== ''"
      [ngClass]="{ 'margin-botton': description === '' && !withSearchbar }"
    >
      {{ title }}
    </h1>

    <p *ngIf="description !== ''">{{ description }}</p>

    <div class="input-box" *ngIf="withSearchbar">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</section>
