$gradientPrimary: linear-gradient(80.79deg, #ff2599 0%, #ef233c 100%);
$primary: rgb(239, 35, 60);
$dark: rgb(43, 45, 66);
$light: rgb(237, 242, 244);
$accent: rgb(217, 4, 41);
$accent-2: rgb(141, 153, 174);
$success: rgb(76, 224, 109);
