@import "../../../styles/variables.scss";

.post-form {
  padding: 100px 0;

  .form-container {
    background: $light;
    width: 35%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 5px;

    .input-container {
      margin-bottom: 20px;

      label {
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    .btn-create {
      border: none;
      outline: none;
      color: #fff;
      background-color: $dark;
      padding: 13px 30px;
      border-radius: 5px;
      font-family: inherit;
      cursor: pointer;
    }
  }
}
